<!DOCTYPE html>
<head>
	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<title>{{ title }}</title>
</head>
<body>
	<div class="container">
		<!-- container start -->
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="/">{{ title }}</a>
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li class="divider-vertical"></li>
					{% if user.is_authenticated %}
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">My Account</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="/accounts/logout">Logout</a></li>
                        </ul>
                      </li>
                    {% else %}
					<li><a href="/accounts/login">Login</a></li>
					<li><a href="/accounts/register">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		
		{% block content %}
			
		{% endblock %}
		
		<hr />
		<center>Made By Or & Anna | 2013</center>
		</div> <!-- container end -->
	</body>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="static/js/csrf.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/slideshow.js"></script>
</html>